@{
    ViewBag.Title = "AccessServiceDirectly - Backend1";
}
<h1>AccessServiceDirectly</h1>

<b>Rand value first:</b> @ViewBag.Num1
<br />
<b>Rand value second:</b> @ViewBag.Num2
<br />

<b>Add:</b>
<br />
@ViewBag.Add
<br />

<b>Dif:</b>
<br />
@ViewBag.Sub
<br />

<b>Mult:</b>
<br />
@ViewBag.Mul
<br />

<b>Div:</b>
<br />
@ViewBag.Div
<br />