@{
    ViewBag.Title = "PassUsingViewData - Backend1";
}
<h1>PassUsingViewBag</h1>
<b>Rand value first:</b> @ViewData["Num1"]
<br />
<b>Rand value second:</b> @ViewData["Num2"]
<br />

<b>Add:</b>
<br />
@ViewData["Add"]
<br />

<b>Sub:</b>
<br />
@ViewData["Sub"]
<br />

<b>Mul:</b>
<br />
@ViewData["Mul"]
<br />

<b>Div:</b>
<br />
@ViewData["Div"]
<br />
