@model WebApplication1.Models.CalcModel
@{
    ViewBag.Title = "PassUsingModel - Backend1";
}
<h1>PassUsingModel</h1>
<b>Rand value first:</b> @Model.Num1
<br />
<b>Rand value second:</b> @Model.Num2
<br />

<b>Add:</b>
<br />
@Model.Add
<br />

<b>Dif:</b>
<br />
@Model.Sub
<br />

<b>Mult:</b>
<br />
@Model.Mul
<br />

<b>Div:</b>
<br />
@Model.Div
<br />